.footer-container {
  background: #29282D;
  margin-top: auto;
}

.footer-container--services--height {
  height: 133px;
}

.footer-container__content {
  border-top: 1px solid #3d3d3d;
}

.footer {
  height: 93px;
  margin-top: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}