.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align-right {
  align-items: flex-end;
}