.inner-section {
  background: #F4F5F5;
  padding-top: 72px;
  padding-bottom: 90px;
}

.inner-section__title {
  color: #202020;
  font-size: 48px;
  font-weight: bold;
  color: #202020;
  margin-bottom: 47px;
}

.form__row {
  display: flex;
  margin-bottom: 26px;
}


.form__input {
  flex: 1;
  margin-bottom: 26px;
  margin-right: 28px;
  border: 1px solid transparent;
  background: #fff;
  padding: 20px 30px;
  font-size: 18px;
  color: #1a1b1e;
  border-radius: 5px;
  outline: none;
}

.form__input:focus {
  border: 1px solid #E5C288;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 34px;
}

.form__controls-title {
  color: #1a1b1e;
  font-size: 18px;
  width: 43%;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox {
  display: none;
}

.controls__checkbox:checked~.controls__tag {
  background: #B9EAE4;
  transition: filter 0.3s;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 22px;
}
