.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--t .socials__link {
  background: url(../../img/icon/sprites_socials.png) -66px -66px;
}

.socials__item--icon--t .socials__link:hover {
  filter: brightness(1.5);
  transition: filter 0.5s;
}

.socials__item--icon--vk .socials__link {
  background: url(../../img/icon/sprites_socials.png) -10px -66px;
}

.socials__item--icon--vk .socials__link:hover {
  filter: brightness(1.5);
  transition: filter 0.5s;
}

.socials__item--icon--f .socials__link {
  background: url(../../img/icon/sprites_socials.png) -10px -10px;
}

.socials__item--icon--f .socials__link:hover {
  filter: brightness(1.5);
  transition: filter 0.5s;
}

.socials__item--icon--in .socials__link {
  background: url(../../img/icon/sprites_socials.png) -66px -10px;
}

.socials__item--icon--in .socials__link:hover {
  filter: brightness(1.5);
  transition: filter 0.5s;
}