.welcome-wrapper {
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 1920px;
  margin: 0 auto;
  background: url('../../img/welcome/background_welcome.jpg') center center no-repeat;
  justify-content: center;
  align-items: center;
}

.welcome__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  animation: myAnima 0.5s 1s ease-in;
}

.welcome__logo-elem {
  margin-bottom: 60px;
}

.welcome__btn {
  display: flex;
  justify-content: center;
  width: 165px;
}

@keyframes myAnima {
  0% {
    transform: translateY(-5%);
    opacity: 1;
  }

  10% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(0%);
    opacity: 1;
  }

  75% {
    transform: translateY(-3%);
    opacity: 1;
  }


  100% {
    transform: translateY(0%);
    opacity: 1;
  }

}