.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url('../../img/welcome/flare.png') right 35% bottom 45% no-repeat, url('../../img/welcome/background_welcome.jpg') center bottom no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: bounce 0.9s ease-in forwards;
}

.welcome__logo {
  margin-bottom: 60px;
}

.welcome__btn {
  display: flex;
  justify-content: center;
  width: 165px;
}

@keyframes bounce {
  0% {
    opacity: 0.3;
    transform: translateY(3px);
  }

  20% {
    transform: translateY(-30px);

  }


  50% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}